

main{

    /*estilos para la hero image*/
    & .hero-image{
        width: 100%;
        height: 35rem;
        display: flex;
        background: url('/public/images/hero.png');
        background-repeat: no-repeat;
        background-size: cover; /*para que ocupe todo el contenedor*/
        margin-bottom: 20px;

        & .wrap{
            width: 100%;
            background: linear-gradient(to right, rgb(20, 90, 68) 4%, rgba(3, 245, 167,0.5));
            display: flex;
            & .box{
                height: 100%;
                flex-basis: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                & .text{
                    width: 80%;
                    text-align: left;
                    margin-bottom: 1rem;
                    

                    & span{
                        letter-spacing: 2px;
                    }

                    h2{
                        font-size: 32px;
                        margin-bottom: 10px;
                    }

                    p{
                        font-size: 15px;
	                    line-height: 1.2;
                    }


                }
            }
        }




        /*estilo para el boton de unete*/
        & .botones{
            width: 80%;
            display: flex;
            justify-content: left;
            
                & button{
                    border: 2px solid #03f5a7;
                    background-color: transparent;
                    border-radius: 10px;
                    width: 20em;
                    height: 2rem;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    transition: all 0.2s ease-in-out;

                    & span{
                        color: #fff;
                    }
                }


                & button:hover{
                    background-color: #000;
                    border: #000;
                    cursor: pointer;
                    & span{
                        color: #03f598;

                    }
                    
                }
            
        } 
        
        

    
    
    }





    /*estilos para la parte de productos*/
    & .main-products{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding:10px;

        & .title-productos{

            letter-spacing: 10px;
            color: #03f598;
            font-size: 32px;
            font-weight:bolder;
            margin-bottom: 20px;
        }

        & .products{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 440px;
            gap: 50px;

            & .cart{
                border: 2px solid #03f598;
                border-radius: 10px;
                padding: 20px 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                height: 30rem;
                

                & .image-product{
                    width: 15rem;

                    & img{
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                & .informacion{
                    font-size: 18px;
                    text-align: justify;
                    padding: 0 10px;

                    & .title-descripcion{
                        margin-bottom:10px ;
                    }

                    & .precio{
                        font-size: 28px;
                        color: #03f598;
                        font-weight: bold;
                    }
                }


                & .boton{
                    display: block;
                    & button{
                        background: none;
                        border: 2px solid #03f598;
                        color: #03f598;
                        height: 30px;
                        width: 80px;
                        border-radius: 10px;
                        transition: all .2s ease-in-out;

                    }
    
                    & button:hover{
                        background:#03f598 ;
                        color: #fff;
                    }
                }
            
            }
        }

    }




}